<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h1 class="author-name">{{ site.author.name }}</h1>
  <p class="author-bio">{{ site.author.bio }}</p>
  <p class="author-social-media">
    <a class="button linkedin" href="https://www.linkedin.com/in/{{ site.author.linkedin }}/" target="_blank" rel="noopener" role="button"><i class="fab fa-linkedin-in space"></i>Let's Connect on LinkedIn</a>
    <a class="button instagram" href="https://www.instagram.com/{{ site.author.instagram }}/" target="_blank" rel="noopener" role="button"><i class="fab fa-instagram space"></i>Follow me on Instagram</a>
    <a class="button telegram" href="https://t.me/{{ site.author.telegram }}/" target="_blank" rel="noopener" role="button"><i class="fab fa-telegram space"></i>Chat with Telegram</a>
  </p>
</div>



